### **Перевірка даних на нормальність за допомогою критерію Шапіра-Уілка**

 

1.   Сгенеруйте набір даних, що містить не менше 6 змінних. Частину змінних згенеруйте за нормальний розподілом, частину - за будь-яким іншим розподілом. Кількість спостережень - 20.

In [3]:
import pandas as pd #для обработки и анализа данных, работа с числовыми таблицами и временными рядами
import numpy as np #поддержка больших многомерных массивов и матриц
import scipy.stats as sts #Statistical functions

In [5]:
new_df = pd.DataFrame({
    'Logistic_data': np.random.logistic(loc=3, scale=7, size=20),
    'Normal_data_01': np.random.normal(loc=10, scale=5, size=20),
    'Normal_data_02': np.random.standard_normal(size=20),
    'Sample_random_data': np.random.random_sample(size=20),
    'Normal_data_03': np.random.randn(20),
    'Uniform_data': np.random.uniform(size=20),
    
})

new_df

,Logistic_data,Normal_data_01,Normal_data_02,Sample_random_data,Normal_data_03,Uniform_data
0,10.701499,3.981975,-1.269258,0.021419,0.019980,0.104345
1,6.445397,9.818368,0.396459,0.687627,-0.869764,0.755179
2,-14.243637,8.834720,-0.019127,0.900824,-1.826796,0.024010
3,0.899148,4.669972,1.615964,0.385728,0.125244,0.338995
4,2.606196,15.538418,-0.379479,0.686166,-0.002887,0.292900
5,0.765199,3.823074,0.446004,0.048480,1.570238,0.454393
6,5.134321,8.978102,1.146704,0.487097,1.594973,0.346224
7,4.775266,13.128329,-1.010327,0.093457,0.688816,0.241399
8,6.833843,-4.549765,0.663145,0.157969,0.207539,0.823658
9,-4.437756,18.095255,-0.881690,0.580352,0.679621,0.944758
10,2.573244,12.012825,-0.479946,0.766939,0.590738,0.677835
11,-14.029291,12.956162,-0.841189,0.299479,1.454274,0.124754
12,5.379308,12.814256,0.502521,0.650708,-0.881719,0.312481
13,27.617668,15.963437,-1.166804,0.252085,0.994821,0.116277
14,-0.182579,5.502775,1.012361,0.081981,0.448311,0.100059
15,15.641607,13.424969,0.713550,0.758355,-0.805323,0.517746
16,0.010834,12.637097,-1.440135,0.040176,-0.529991,0.106520
17,-3.801019,1.871166,-0.226025,0.825401,0.655066,0.957149
18,1.667741,1.550390,-1.577429,0.606133,0.160718,0.860230
19,0.621144,22.380547,-0.353687,0.505970,-1.017270,0.386736

2.   Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних.
Детальний опис роботи критерію та приклад його розрахунку:
https://pdfs.semanticscholar.org/e4a7/42a4f0585b4e4069726f6628f4d4285a0827.pdf

In [6]:
new_df = pd.DataFrame({key: sorted(values) for key, values in new_df.transpose().iterrows()})

In [7]:
def mean(array,n):
    alll=0
    for i in range(n):
        alll+=array[i]
    return alll/n
mean_value = {i: mean(new_df[i],20) for i in new_df}

In [8]:
def s_sq(array,n, mean_):
    p=0
    for i in range(n):
        p+=((array[i]-mean_)**2)
    return p
s_sqq = {i: s_sq(new_df[i],20,mean_value[i]) for i in new_df}

In [9]:
a=[0.4734, 0.3211, 0.2565, 0.2085, 0.1686, 0.1334, 0.1013, 0.0711, 0.0422, 0.0140]

def b(array,n):
    m=0
    for i in range(n//2):
        m+=(a[i]*(array[(n-1)-i]-array[i]))
    return m
    

b_value = {i: b(new_df[i],20) for i in new_df}

In [12]:
def W(b_v, s_sqq_):
    return (b_v**2)/s_sqq_

W_value = {i: W(b_value[i], s_sqq[i]) for i in new_df}

WTheory = sts.shapiro(new_df['Normal_data_03'])
W_value, WTheory

({'Logistic_data': 0.9138183874079039,
  'Normal_data_01': 0.9762061696479281,
  'Normal_data_02': 0.961756906082518,
  'Sample_random_data': 0.9170008482317613,
  'Normal_data_03': 0.9615505071144612,
  'Uniform_data': 0.9015302042817914},
 (0.9614400267601013, 0.5730041265487671))

3. Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. Кількість стовбчиків - 3. Назва стовпчиків - Variable, Statistics, Distribution.
Шаблон таблиці:
https://drive.google.com/file/d/1gRNsk9UDhl_6GGkJ04q0cBWBgsJvTgI4/view?usp=sharing

In [13]:
column_names = ["Variable", "Statistics", "Distribution"]
df = pd.DataFrame(columns = column_names)
df

Empty DataFrame
Columns: [Variable, Statistics, Distribution]
Index: []

4. Занести в стовпчик Variable назви змінних.

In [14]:
df["Variable"] = new_df.keys()
df

             Variable Statistics Distribution
0       Logistic_data        NaN          NaN
1      Normal_data_01        NaN          NaN
2      Normal_data_02        NaN          NaN
3  Sample_random_data        NaN          NaN
4      Normal_data_03        NaN          NaN
5        Uniform_data        NaN          NaN

5. Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal".

In [15]:
def norm(value,theory):
    if(value >= theory):
        l = 'normal'
    else:
        l = 'non-normal'
    return l


df["Distribution"] = [(norm(W_value[i],WTheory[0]))for i in df["Variable"]]

df

             Variable Statistics Distribution
0       Logistic_data        NaN   non-normal
1      Normal_data_01        NaN       normal
2      Normal_data_02        NaN       normal
3  Sample_random_data        NaN   non-normal
4      Normal_data_03        NaN       normal
5        Uniform_data        NaN   non-normal

6. Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати середне значення та стандартне відхилення. Записати в таблицю. Форма запису: Середнє [стандартне відхилення].

In [18]:
for i in range (df.shape[0]):
    var = df["Distribution"][i]
    if 'normal' in var:
        df["Statistics"][i] = f'{new_df[var].mean()} [{new_df[var].std()}]'

df

             Variable                                 Statistics Distribution
0       Logistic_data                                        NaN   non-normal
1      Normal_data_01     9.671603657522072 [6.5159009243030415]       normal
2      Normal_data_02  -0.15741939491344503 [0.9348352856726015]       normal
3  Sample_random_data                                        NaN   non-normal
4      Normal_data_03    0.1628294950547135 [0.9296204219440822]       normal
5        Uniform_data                                        NaN   non-normal

7. Розрахувати для всіх змінних, що розподілені за розподілом відсутнім від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%].

In [19]:
for i in range (df.shape[0]):
    var = df["Distribution"][i]
    if 'normal' not in var:
        df["Statistics"][i] = \
        f'{new_df[var].median()} \
        [{new_df[var].quantile(0.25)}; {new_df[var].quantile(0.75)}]'

df

,Variable,Statistics,Distribution
0,Logistic_data,2.12049268442032 [-0.037519512765814; ...,non-normal
1,Normal_data_01,9.671603657522072 [6.5159009243030415],normal
2,Normal_data_02,-0.15741939491344503 [0.9348352856726015],normal
3,Sample_random_data,0.49653333704099273 [0.141840641402102...,non-normal
4,Normal_data_03,0.1628294950547135 [0.9296204219440822],normal
5,Uniform_data,0.34260938229739885 [0.122634758106517...,non-normal

8. Зберегти таблицю в пдф форматі

In [28]:
data_output=df
data_output.to_csv('output.pdf', encoding= 'utf8')